<nav>
    <div>
      <a href="/index"><h1 style="font-family: 'Silkscreen', cursive;">e-Thesis</h1></a>
      <p style="font-size: 9px; font-family: 'Ubuntu Mono', monospace;"> < A platform where students and faculties collaborate > </A></p>
    </div>
    <ul>
      <li style="font-family: 'Ubuntu Mono', monospace;"><a href="/index">Home</a></li>

      <li style="font-family: 'Ubuntu Mono', monospace;"><a href="/profile">My-Profile</a></li>

      <!-- <li style="font-family: 'Ubuntu Mono', monospace;"><a href="/studentList">Student-List</a></li>
      <li style="font-family: 'Ubuntu Mono', monospace;"><a href="/facultyList">faculty-List</a></li> -->
      <!-- <li style="font-family: 'Ubuntu Mono', monospace;"><a href="/login">Login</a></li> -->
      <li style="font-family: 'Ubuntu Mono', monospace;"><a href="/logout">Logout</a></li>

     
    </ul>
  </nav>
  