<nav>
    <div class="site-title">
      <a href="/"><h1>e-Thesis</h1></a>
      <p>A platform where students and faculties collaborate</p>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>