<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <div class="blogs content">
    <h2>create faculty profile</h2>


    <div class="create-blog content">
      <form>

        <label for="initial">Initial Name</label>
        <input type="text" id="title" name="title" required>

        <label for="name">Full Name</label>
        <input type="text" id="title" name="title" required>

        <label for="department">Department</label>
        <input type="text" id="title" name="title" required>

        <label for="g-suite">G-suite</label>
        <input type="email" id="title" name="title" required>

        <label for="room-number">Room Number</label>
        <input type="text" id="title" name="title" required>

        <label for="c-hour">Consultation Hour</label>
        <input type="text" id="title" name="title" required>

        <label for="research-interest">Research Interest</label>
        <input type="text" id="title" name="title" required>

        <label for="level">Level</label>
        <input type="text" id="title" name="title" required>

        <label for="level">Type</label>
        <input type="text" id="title" name="title" required>

        <label for="level">Role</label>
        <input type="text" id="title" name="title" required>

        <label for="level">Availability</label>
        <input type="text" id="title" name="title" required>

        <label for="body">Bio</label>
        <textarea id="body" name="body" required></textarea>

        <button>Submit</button>

      </form>

  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>