<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <div class="blogs content">
    <h2>Register as faculty</h2>

    <div class="create-blog content">
      <form>
        <label for="name">Name</label>
        <input type="text" id="title" name="title" required>

        <label for="g-suite">G-suite</label>
        <input type="email" id="title" name="title" required>

        <label for="Password">Password</label>
        <input type="password" id="title" name="title" required>

        <button>Submit</button>

      </form>


  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>