<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="assets/images/fav.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="assets/images/fav.jpg">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <title>e-Thesis | <%= title %></title>
</head>

<body>
    
    <div class="container-fluid">
        <div class="container">
            <div class="col-xl-10 col-lg-11 mx-auto login-container">
                <div class="row">
                   
                    <div class="col-lg-5 col-md-6 no-padding">
                        <div class="login-box">
                            <h5>Sign Up</h5>

                            <!-- <div class="login-row row no-margin">
                                <label for=""><i class="fas fa-envelope"></i> User Name</label>
                                <input type="text" class="form-control form-control-sm">
                            </div> -->

                            <form action="/register" method="POST" id="form">

                                <div class="login-row row no-margin">
                                    <label for=""><i class="fas fa-envelope"></i> Email Address</label>
                                    <input type="email" class="form-control form-control-sm" name="email" required>
                                </div>
    
                                 <div class="login-row row no-margin">
                                    <label for=""><i class="fas fa-unlock-alt"></i> Password</label>
                                    <input type="password" class="form-control form-control-sm" name="password" required>
                                </div>
    
    
                                 <div class="login-row btnroo row no-margin">
                       
                                   <button class="btn btn-success  btn-sm"> Create Account</button>
                                </div>
    
                                <div class="login-row donroo row no-margin">
                                    <p>Already have Account ?</p> <a href="/login">Login</a>
                                 </div>
                                 
                            </form>

                         
                         
                        </div>
                    </div>
                    
                     <div class="col-lg-7 col-md-6 img-box">
                        <img src="assets/images/sideimg.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</body>

<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>

</html>