<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  
  <div class="container text-center">
    <div class="row">
      <div class="col">
        
      </div>
      <div class="col-6">

        <h2 style="font-family: 'Ubuntu Mono', monospace;"> - update student profile - </create></h2>
       
        <form action="/student-profile" method="POST">

          <div class="d-grid gap-3">
  
            <div >
              <input class="form-control form-control-sm" type="text" placeholder="ID" aria-label=".form-control-sm example" name="id" required>
            </div>
            
            <div>
              <input class="form-control form-control-sm" type="text" placeholder="Name" aria-label=".form-control-sm example" name="name" required>
  
            </div>
  
            <div >
              <input class="form-control form-control-sm" type="text" placeholder="Department" aria-label=".form-control-sm example" name="department" required>
            
            </div>
  
            <div >
              <input class="form-control form-control-sm" type="email" placeholder="G-suite" aria-label=".form-control-sm example" name="email" value="<%= email %>" required readonly>
  
            </div>
  
            <div >
              <input class="form-control form-control-sm" type="number" placeholder="Attempted Credit" aria-label=".form-control-sm example" name="a_credit" required>
  
            </div>
  
            <div >
              <input class="form-control form-control-sm" type="number" placeholder="Earned Credit" aria-label=".form-control-sm example" name="e_credit" required>
  
            </div>
  
            <div >
              <input class="form-control form-control-sm" type="number" placeholder="Attempted semester" aria-label=".form-control-sm example" name="a_semester" required>
  
            </div>
  
            <div >        
              <input class="form-control form-control-sm" type="float" placeholder="Current CGPA" aria-label=".form-control-sm example" name="cgpa" required>
            </div>
  
            <div >
              <button class="btn btn-outline-success btn-sm" style =width:550px>Submit</button>
  
            </div>
  
          </div>

        </form>
        
      </div>
      <div class="col">
       
      </div>
    </div>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>